.articles-page {
  padding: 40px 0;
  min-height: calc(100vh - 70px);
}

.coming-soon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  text-align: center;
}

.coming-soon p {
  font-size: 18px;
  color: #cccccc;
  margin: 10px 0;
}

.coming-soon p:first-child {
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
}
